In [ ]:
# Import Dependencies

#Import Pandas and Matplotlib
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Import SQLAlchemy Automap, ORM, and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [ ]:
# Configure Database from PostgreSQL
from config import uri

In [ ]:
# Create Engine
engine = create_engine(uri)

In [ ]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect = True)

In [ ]:
# Print all of the classes mapped to the Base
Base.classes.keys()

In [ ]:
# Assign the "Departments" class to a variable called Departments
Departments = Base.classes.Departments

# Assign the "Employees" class to a variable called Employees
Employees = Base.classes.Employees

# Assign the "Salaries" class to a variable called Salaries
Salaries = Base.classes.Salaries

# Assign the "Titles" class to a variable calledTitlesEmployees
Titles = Base.classes.Titles

In [ ]:
# Start a session to query the database
session = Session(bind=engine)

In [ ]:
# Query the EmployeeSQL database for Employee Name. Save as a dataframe.
query = session.query(Employees)
employee_df = pd.read_sql_query(query.statement, session.get_bind())
employee_df.head()

In [ ]:
# Query the EmployeeSQL database for Titles. Save as a dataframe.
query_title = session.query(Titles)
titles_df = pd.read_sql_query(query_title.statement, session.get_bind())
titles_df.head()

In [ ]:
# Query the EmployeeSQL database for Salaries. Save as a dataframe.
query_salary = session.query(Salaries)
salaries_df = pd.read_sql_query(query_salary.statement, session.get_bind())
salaries_df.head()

In [ ]:
# Join queried databases
emp_title_df = pd.merge(employee_df, titles_df, on="emp_no", how="outer")
emp_sal_title_df = pd.merge(emp_title_df, salaries_df, on="emp_no", how="outer")

# Rename columns
emp_sal_title_df = emp_sal_title_df.rename(columns={
                                                    "emp_no":"Employee No.",
                                                    "birth_date":"Birth Date",
                                                    "first_name":"First Name",
                                                    "last_name":"Last Name",
                                                    "gender":"Gender",
                                                    "hire_date":"Hire Date",
                                                    "title":"Title", 
                                                    "from_date_x":"Title Start Date",
                                                    "to_date_x":"Title End Date",
                                                    "salary":"Salary",
                                                    "from_date_y":"Salary Start Date",
                                                    "to_date_y":"Salary End Date"})

# Drop unnecessary IDs
emp_sal_title_df = emp_sal_title_df.drop(labels=["id_x", "id_y"], axis=1)

emp_sal_title_df.head()

In [ ]:
# Test 1 last name
koblick = emp_sal_title_df.loc[emp_sal_title_df["Last Name"]=="Koblick"]
koblick.head()

In [ ]:
# Group by title. Find mean salary by title.
title_salary = emp_sal_title_df.groupby("Title").mean()
title_salary

In [ ]:
# Set title
title = "Average Salary by Job Title"

# Create chart
salary_chart = title_salary["Salary"].plot(kind="bar", title=title, ylim=[40000, 60000])

# Set labels
salary_chart.set_xlabel("Job Title")
salary_chart.set_ylabel("Salary ($)")

# Set xtick rotations
plt.xticks(rotation=45)

# Set layout
plt.tight_layout()

# Show plot
salary_chart = plt.gcf()
plt.show()

In [ ]:
# Save figure
salary_chart.savefig("Images/Average_Salary_by_Title.png")

In [ ]:
# Create a new variable to hold merged dataframes
salary_freq_df = emp_sal_title_df

In [ ]:
# Find min and max salaries. Save to variable
min_sal = salary_freq_df["Salary"].min()
max_sal = salary_freq_df["Salary"].max()

print(f"The minimum salary is {min_sal}.")
print(f"The maximum salary is {max_sal}.")

In [ ]:
# Create bins to hold salary data
# Create size bins
size_bins = [40000-1, 50000-1, 60000-1, 70000-1, 80000-1, 90000-1, 100000-1, 110000-1, 120000-1, 130000+1]

# Create labels for bins
group_names = ["$40,000-$49,999", "$50,000-$59,999", "$60,000-$69,999", "$70,000-$79,999",
              "$80,000-$89,999", "$90,000-$99,999", "$100,000-$109,999", 
              "$110,000-$119,999", "$120,000-$130,000"]

In [ ]:
# Cut bins
salary_freq_df["Salary Range"] = pd.cut(salary_freq_df["Salary"], size_bins, labels=group_names)

# Show dataframe
salary_freq_df.head()

In [ ]:
# Create group based on bins
salary_group_df = salary_freq_df.groupby("Salary Range")

# Show only Salary Range, based on count
salary_group_df = salary_group_df["Salary", "Salary Range"].count()
salary_group_df

In [ ]:
# Set title
title = "Salary frequency"

# Create chart
salary_freq = salary_freq_df["Salary"].plot(kind="hist", title=title, xlim=[40000,130000], ylim=[0, 250000], 
                                             figsize=(8,4), color="tab:blue")

# Set labels
salary_freq.set_xlabel("Salary Range ($)")
salary_freq.set_ylabel("Number of Salaries")


# Set layout
plt.tight_layout()

# Show plot
salary_freq = plt.gcf()
plt.show()

In [ ]:
# Save figure
salary_freq.savefig("Images/Salary_Frequency.png")