In [1]:
# Import Dependencies

#Import Pandas and Matplotlib
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import SQLAlchemy Automap, ORM, and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [3]:
# Configure Database from PostgreSQL
from config import uri

ModuleNotFoundError: No module named 'config'

In [ ]:
# Create Engine
engine = create_engine(uri)

In [ ]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect = True)

In [ ]:
# Print all of the classes mapped to the Base
Base.classes.keys()

In [ ]:
# Assign the "Departments" class to a variable called Departments
Departments = Base.classes.Departments

# Assign the "Employees" class to a variable called Employees
Employees = Base.classes.Employees

# Assign the "Salaries" class to a variable called Salaries
Salaries = Base.classes.Salaries

# Assign the "Titles" class to a variable calledTitlesEmployees
Titles = Base.classes.Titles

In [ ]:
# Start a session to query the database
session = Session(bind=engine)

In [ ]:
# Query the EmployeeSQL database for Employee Name. Save as a dataframe.
query = session.query(Employees)
employee_df = pd.read_sql_query(query.statement, session.get_bind())
employee_df.head()

In [ ]:
# Query the EmployeeSQL database for Titles. Save as a dataframe.
query_title = session.query(Titles)
titles_df = pd.read_sql_query(query_title.statement, session.get_bind())
titles_df.head()

In [ ]:
# Query the EmployeeSQL database for Salaries. Save as a dataframe.
query_salary = session.query(Salaries)
salaries_df = pd.read_sql_query(query_salary.statement, session.get_bind())
salaries_df.head()

In [ ]:
# Join queried databases
emp_title_df = pd.merge(employee_df, titles_df, on="emp_no", how="outer")
emp_sal_title_df = pd.merge(emp_title_df, salaries_df, on="emp_no", how="outer")

# Rename columns
emp_sal_title_df = emp_sal_title_df.rename(columns={
                                                    "emp_no":"Employee No.",
                                                    "birth_date":"Birth Date",
                                                    "first_name":"First Name",
                                                    "last_name":"Last Name",
                                                    "gender":"Gender",
                                                    "hire_date":"Hire Date",
                                                    "title":"Title", 
                                                    "from_date_x":"Title Start Date",
                                                    "to_date_x":"Title End Date",
                                                    "salary":"Salary",
                                                    "from_date_y":"Salary Start Date",
                                                    "to_date_y":"Salary End Date"})

# Drop unnecessary IDs
emp_sal_title_df = emp_sal_title_df.drop(labels=["id_x", "id_y"], axis=1)

emp_sal_title_df.head()